@import "../constantes";

.container {
    background: $bg-login;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;

    gap: 2rem;

    .grafismo {
        display: block;
        width: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .loginField {
        > img {
            width: 100%;
            max-width: 360px;
            margin-bottom: 6rem;
        }

        strong {
            font-size: 2.25rem;
            font-weight: 600;
            color: $white;
            margin-bottom: 2rem;
        }

        div {
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            p {
                color: $blue-light;
            }
        }

        > div img {
            width: 100%;
            max-width: 40px;
            margin-right: 2rem;
        }

        .loginInput {
            width: 100%;
            max-width: 420px;
            height: 80px;
            margin-top: 2.5rem;

            input {
                width: 340px;
                background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
                color: $blue-light;
                border-radius: 5px 0px 0px 5px;
                border: 0;
                padding-left: 2rem;

                &::placeholder {
                    color: $blue-light;
                }
            }

            button {
                width: 80px;
                font-size: 0;
                border: 0;
                border-radius: 0px 5px 5px 0px;
                background: $blue-dark;

                img {
                    margin: 0 auto;
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background: $green;
                }
            }
        }
    }
}
